<html>
  <body>
    <h1>Username: {{ User }}</h1>
    {% for ID in SortedIDs %}
      {% if User in AllData[ID]['MarkedTextImgBy'] %}
        <h3>ID: {{ ID }} </h3>
      {% endif %}
      {% if User not in AllData[ID]['MarkedTextImgBy'] %}
        <h3>ID: {{ ID }} MARKED BY: </h3>
        <div></div>
        <h3>Image + Text</h3>
        <div><img src = {{ AllData[ID]['ImageURL'] }}></div>
        <div><p> {{ AllData[ID]["Text"] }}</p></div>
        <div></div>
        <form action="{{url_for('GetInput', username=User, range=Range)}}" method="post">
          <p>Text Sentiment</p>
          {{ Form.TextSentimentForm }}
          <p>Image + Text Sentiment</p>
          {{ Form.ImageTextSentimentForm }}
          <p>Ad Category</p>
          {{ Form.CategoryForm }}
          {{ Form.ID(value=ID) }}
          {{ Form.submit }}
      {% endif %}
      </form>
    {% endfor %}
  </body>
</html>
